{% extends "admin/_base.html" %}

{% block title %}Admin{% endblock %}

{% block content %}
<div class="jumbotron hidden-phone">
  <h1>Administration</h1>
  <p>You are working in the administrative backend of your website. From here you can configure different components of your site in addition to administrating content. Choose an option from the left or read the descriptions below.</p>
  <hr class="dark">
  <p>Atomar core version: {{ sys.version }}</p>
  <p>
    {% if sys.debug %}
    Debug mode is active
    {% else %}
    Debug mode is inactive
    {% endif %}
  </p>
  {% if sys.debug == false %}
  <p class="text-muted">
    Database requests and templates are currently being cached.
  </p>
  {% endif %}
  <hr class="dark">
  <p>
    <a class="btn btn-default" href="{{ sys.site_url }}!/cron?token={{ sys.cron_token }}" target="_blank">Run Cron</a>
    {% if sys.maintenance %}
    <a class="btn btn-primary" href="/!/maintenance?enabled=0" class="tip" title="Only administrators will be able to login and view the site">Disable Maintenance Mode</a>
    {% else %}
    <a class="btn btn-default" href="/!/maintenance?enabled=1" class="tip" title="Only administrators will be able to login and view the site">Enable Maintenance Mode</a>
    {% endif %}
    {% if sys.debug %}
    <a href="/!/debug_mode?enable=0" class="btn btn-primary">Disable debug mode</a>
    {% else %}
    <a href="/!/debug_mode?enable=1" class="btn btn-default">Enable debug mode</a>
    {% endif %}
  </p>
</div>
<div class="row">
  <div class="col-md-4">
    <h2>Users</h2>
    <p>Manage user accounts on the website. Capabilities include creating new users, updating user profiles, and disabling user accounts.</p>
    <p><a class="btn btn-default" href="/admin/users">View details</a></p>
  </div>
  <div class="col-md-4">
    <h2>Permissions</h2>
    <p>Create or delete permissions that may be used throughout the site. Permissions may then be assigned to different user roles.</p>
    <p><a class="btn btn-default" href="/admin/permissions">View details</a></p>
  </div>
  <div class="col-md-4">
    <h2>Roles</h2>
    <p>Add, edit, or delete roles on the site. You can also assign permissions to different roles on the site.</p>
    <p><a class="btn btn-default" href="/admin/roles">View details</a></p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h2>Extensions</h2>
    <p>You can create custom extensions to extend this framework. This allows you to easily reuse different components in other sites without having to edit a lot of configuration files. The module section allows you to view a list of available extensions along with their descriptions and enable/disable them.</p>
    <p><a class="btn btn-default" href="/admin/extensions">View details</a></p>
  </div>
  <div class="col-md-4">
    <h2>Documentation</h2>
    <p>There can be a lot of components in one site, especialy if you use a lot of extensions. The documentation section allows you to read the details about all the different components of the site including detailed module information (if provided by the module).</p>
    <p><a class="btn btn-default" href="/admin/documentation">View details</a></p>
  </div>
  <div class="col-md-4">
  </div>
</div>
{% endblock %}