{% extends "_lightbox.html" %}

{% block lightbox %}
<div class="row">
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Account Details</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            {% if roles|length > 0 %}
              <div class="form-group">
                <label for="field-role">Account Type: <span class="text-danger">*</span></label>
                <select name="role" class="form-control" data-placeholder="Choose a role..." id="field-role" required>
              {% for role in roles %}
                  <option value="{{ role.id }}" {{ role.selected }}>{{ role.name }}</option>
              {% endfor %}
                </select>
              </div>
              
            {% else %}
              <label for="field-role">Account Type: <span class="text-danger">*</span></label>
              <input id="field-role" class="form-control" type="text" disabled value="{{ user.role.name }}">
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <label for="field-email">Email: <span class="text-danger">*</span></label>
            <input type="email" class="form-control" data-validate="email" name="email" value="{{user.email}}" id="field-email" required>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-12">
          <a href="/!/delete_user?id={{ user.id }}&amp;r={{ lightbox.dismiss_url|url_encode }}" class="btn btn-danger btn-xs" data-confirm="Are you sure you want to delete the user? This cannot be undone.">Delete Account</a>
        {% if user.is_enabled %}
          <a href="/!/enable_user?enabled=0&amp;id={{ user.id }}&amp;r={{ lightbox.return_url|url_encode }}" class="btn btn-warning btn-xs">Disable Account</a>
        {% else %}
          <a href="/!/enable_user?enabled=1&amp;id={{ user.id }}&amp;r={{ lightbox.return_url|url_encode }}" class="btn btn-success btn-xs">Enable Account</a>
        {% endif %}
          <a href="/user/recover/{{ user.id }}?r={{ lightbox.return_url|url_encode }}" data-confirm="Are you sure you want to reset this user's password?" class="btn btn-info btn-xs">Reset Password</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Personal Information
        </h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6">
            <label for="field-first-name">First Name:</label>
            <input type="text" name="first_name" id="field-first-name" class="form-control" value="{{user.first_name}}" autocomplete="off">
          </div>
          <div class="col-xs-6">
            <label for="field-last-name">Last Name:</label>
            <input type="text" name="last_name" id="field-last-name" class="form-control" value="{{user.last_name}}" autocomplete="off">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <label for="field-phone">Phone:</label>
            <input type="text" class="form-control" name="phone" id="field-phone" value="{{user.phone}}" autocomplete="off" >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <label for="field-notes">Notes <small class="text-muted">(not visible to user)</small>:</label>
    <textarea id="field-notes" rows="3" name="notes" class="form-control">{{user.notes}}</textarea>
  </div>
</div>
{% endblock %}