{% extends "_lightbox.html" %}

{% block lightbox %}
<div class="row">
  <div class="col-xs-12">
    {% if roles|length > 0 %}
    <label for="field-role">Account Type: <span class="text-danger">*</span></label>
    <div class="form-group">
      <select name="role" class="form-control" data-placeholder="Choose a role..." id="field-role" required>
        {% for role in roles %}
        <option value="{{ role.id }}" {{ role.selected }}>{{ role.name }}</option>
        {% endfor %}
      </select>
    </div>
    {% else %}
    <label for="field-role">Account Type: <span class="text-danger">*</span></label>
    <input id="field-role" class="form-control" type="text" disabled value="{{ user.role.name }}">
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <label for="field-email">Email: <span class="text-danger">*</span></label>
    <input type="email" class="form-control" data-validate="email" name="email" id="field-email" autocomplete="off" required>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <label for="field-password">Password: <span class="text-danger">*</span></label>
    <input type="password" class="form-control" name="password" id="field-password" autocomplete="off" required>
  </div>
</div>
<br>
{% endblock %}