{% extends "_lightbox.html" %}

{% block lightbox %}
<div class="row">
  <div class="col-xs-6">
    <label for="field-name">Name: <span class="text-danger">*</span></label>
    <input type="text" class="form-control" data-validate="extension-name" name="name" id="field-name" autocomplete="off" placeholder="My Awesome Extension" required autofocus>
  </div>
  <div class="col-xs-6">
    <div class="text-muted" id="slug"></div>
    <input type="hidden" id="field-slug" name="slug">
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <p class="text-muted">
      <strong>Hint:</strong> end your extension name with "Demo" or "Site" to keep it separate from the core (ignored by git). e.g. "My Cool Site" or "My Cool Demo"
    </p>
    <label for="field-description">Description: <span class="glyphicon glyphicon-question-sign tip" title="A brief description shown on the extensions page"></span></label>
    <textarea character-count="600" name="description" id="field-description" class="form-control" cols="30" rows="4"></textarea>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <div class="panel-group">
      <div class="panel panel-default panel-overflow-visible">
        <div class="panel-heading">
          <h4 class="panel-title panel-title-block">
            <a data-toggle="collapse" data-target="#advanced">Advanced Settings</a>
          </h4>
        </div>
        <div id="advanced" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="form-group">
              <div class="checkbox-inline">
                <label><input type="checkbox" name="rest_api"> Include a REST API</label>
              </div>
              <div class="checkbox-inline">
                <label><input type="checkbox" name="php_api"> Include a PHP API</label>
              </div>
            </div>
            <div class="form-group">
              <label for="field-dependencies">Dependencies: <span class="glyphicon glyphicon-question-sign tip" title="Extensions that must be enabled in order for this one to work"></span></label>
              <select data-placeholder="Choose..." class="chzn-select form-control" name="dependencies[]" multiple>
                {{ multi_select(extensions, []) }}
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}