{% extends "_lightbox.html" %}

{% block lightbox %}
<div class="row">
  <div class="col-xs-12">
    {% if roles|length > 0 %}
      <div class="form-group">
        <label for="field-role">Account Type: <span class="text-danger">*</span></label>
        <select name="role" class="form-control" data-placeholder="Choose a role..." id="field-role" required>
          {% for role in roles %}
          <option value="{{ role.id }}" {{ role.selected }}>{{ role.name }}</option>
          {% endfor %}
        </select>
      </div>
    {% else %}
      <label for="field-role-disabled">Account Type:</label>
      <input id="field-role-disabled" class="form-control" type="text" disabled value="{{ user.role.name }}">
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <label for="field-email">Email: <span class="text-danger">*</span></label>
    <input type="email" class="form-control" data-validate="email" name="email" value="{{user.email}}" autocomplete="new-email" id="field-email" required>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <label for="field-email">Password: {% if not user %}<span class="text-danger">*</span>{% endif %}</label>
    <input type="password" class="form-control" name="password" {% if user %}placeholder="Leave empty for no change"{% endif %} autocomplete="new-password" id="field-password" {% if not user %}required{% endif %}>
  </div>
</div>
<br>
{% if user %}
<div class="row">
  <div class="col-xs-12">
    <a href="/!/delete_user?id={{ user.id }}&amp;r={{ lightbox.dismiss_url|url_encode }}" class="btn btn-danger btn-xs" data-confirm="Are you sure you want to delete the user? This cannot be undone.">Delete Account</a>
    {% if user.is_enabled %}
    <a href="/!/enable_user?enabled=0&amp;id={{ user.id }}&amp;r={{ lightbox.return_url|url_encode }}" class="btn btn-warning btn-xs">Disable Account</a>
    {% else %}
    <a href="/!/enable_user?enabled=1&amp;id={{ user.id }}&amp;r={{ lightbox.return_url|url_encode }}" class="btn btn-success btn-xs">Enable Account</a>
    {% endif %}
  </div>
</div>
<br>
{% endif %}
{% endblock %}