{% extends "@atomar/views/admin/_base.html" %}

{% block title %}Users{% endblock %}

{% block content %}
<div class="row">
  <div class="page-header clearfix">
    <h2 class="pull-left">Users</h2>
    <a data-lightbox="/atomar/users/create" class="btn btn-primary pull-right hidden-phone"><span class="glyphicon glyphicon-plus-sign"></span> New User</a>
  </div>
  <p class="well hidden-phone">
    Here is a list of all the users on the site. You may edit, email, or disable any account with the shortcut buttons to the right of them. Additional capabilities are available when editing the user directly.
  </p>
  <table class="table table-striped table-bordered table-hover">
  {% if users|length > 0 %}
    <tr>
      <th>Email</th>
      <th>Role</th>
      <th>Last logged on</th>
      <th></th>
    </tr>
    {% for user in users %}
      {% if user.is_enabled %}
    <tr>
      {% else %}
    <tr class="warning tip" title="This user is disabled">
      {% endif %}
      <td>
        <a href="/user/{{ user.id }}?r=/atomar/users">{{ user.email }}</a>
      </td>
      <td>
          {{ user.role }}
      </td>
      <td>{{ fancy_date(user.last_login, 1) }}</td>
      <td class="center">
        <a data-lightbox="/atomar/user/{{ user.id }}/edit?r=/atomar/users"><span class="glyphicon glyphicon-edit tip" data-toggle="tooltip" title="edit"></span></a>
        {% if user.is_enabled %}
        <a href="/atomar/api/enable_user?id={{ user.id }}&amp;enabled=0&amp;r=/atomar/users"><span class="glyphicon glyphicon-thumbs-down tip" data-toggle="tooltip" title="disable"></span></a>
        {% else %}
        <a href="/atomar/api/enable_user?id={{ user.id }}&amp;enabled=1&amp;r=/atomar/users"><span class="glyphicon glyphicon-thumbs-up tip" data-toggle="tooltip" title="enable"></span></a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  {% else %}
    <tr>
      <td>
        <div class="well">
          There are no users. <a href="/atomar/users/create">Create a new user</a>.
        </div>
      </td>
    </tr>
  {% endif %}
  </table>
</div>
{% endblock %}