{% extends "_base.html" %}

{% block body %}
<p class="well">
  A new account has been created for you on <a href="{{ sys.site_url }}">{{ sys.site_name }}</a>. <br />
  Your new username is: <strong>{{ recipient.username }}</strong>
</p>
<p>
  Before accessing your account you must create a new password. Click the link below or copy it into your browser to reset your account password. After you have created your new password you may login to <a href="{{ sys.site_url }}user/{{ recipient.id }}">Your Account</a>.
</p>
<blockquote>
  <span class="text-muted">Click on this link or copy it into your browser to reset your password. This link will expire in {{ expires }}</span><br>
  <a href="{{ sys.site_url }}user/reset?token={{ token }}">{{ sys.site_url }}user/reset?token={{ token }}</a>
</blockquote>
<p>
  If you experience any difficulty accessing your account please <a href="{{ sys.site_url }}contact?title=Password+Reset&amp;name={{ recipient.first_name|url_encode }}%20{{ recipient.last_name|url_encode }}&amp;email={{ recipient.email }}">Contact Support</a> so we can help you out.
</p>
{% endblock %}
