{% extends "_base.html" %}

{% block body %}
<p class="well">
  We received a request to reset your account password on <a href="{{ sys.site_url }}">{{ sys.site_name }}</a>.
</p>
<p>
  If you did not request a new password you may ignore/delete this email. Otherwise, click on the link below or copy it into your browser to reset your password. This link will expires in {{ expires }}.
</p>
<blockquote>
  <a href="{{ sys.site_url }}user/reset?token={{ token }}">{{ sys.site_url }}user/reset?token={{ token }}</a>
</blockquote>
{% endblock %}