<!DOCTYPE HTML>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="{{ sys.site_url }}favicon.ico" />
    <title>500 Error</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="Neutrino Graphics LLC">
    <link rel="stylesheet" type="text/css" href="/atomar/assets/css/bootstrap.min.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="/atomar/assets/js/html5shiv.js"></script>
      <script type="text/javascript" src="/atomar/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container">
      
      <!-- content -->
      <div class="row">
        <div class="col-md-12">
        	<br>
          <div class="jumbotron">
          	<h1>500 Error</h1>
          	<p>oops! Something is broken on the server!</p>
          </div>
        </div>
        
      </div>
    </div> <!-- /container -->

  </body>
</html>