<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>{{ title }}</title>
	<meta charset="utf-8">
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ title }}">
	<link rel="stylesheet" type="text/css" href="/atomar/assets/css/bootstrap.min.css?v={{ atomar.version }}">
	<style>
		body {
			padding-top: 40px;
			padding-bottom: 40px;
			background-color: #eee;
		}
		.error-page {
			max-width: 330px;
			padding: 15px;
			margin: 0 auto;
		}
	</style>
</head>
<body>

<!-- content -->
<div class="container">
	<div class="text-center">
		<h2>{{title}}</h2>
	</div>
	<div class="error-page">
		<div class="row">
			<div class="panel">
				<div class="panel-body">
					{{message|raw}}
				</div>
			</div>
		</div>
		<div class="row text-right">
			<a href="/" class="btn btn-primary" data-loading-text="Loading..." ><span class="glyphicon glyphicon-repeat"></span> Reload the page</a>
		</div>
	</div>
</div>
</body>
</html>
