{% extends "_plain.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="text-center">
  <h2>Change Password</h2>
</div>

<form class="form-signin" action="reset" method="post">
  <input type="hidden" name="token" id="field-token" value="{{ token }}">
  <input type="password" name="password" placeholder="New Password" id="field-password" class="form-control" autofocus="" required>
  <input type="password" name="password2" placeholder="Re-enter Password" id="field-password2" class="form-control"  required>
  <button class="btn btn-lg btn-primary btn-block" type="submit"><span class="glyphicon glyphicon-lock"></span> Submit</button>
</form>

<div class="text-center">
  <p>
    <a href="/user/login"> back to login</a> | <a href="/contact">Contact Us</a>
  </p>
</div>

<footer class="text-center">
  &copy; {{ sys.year }}, <a href="{{ sys.site_url }}">{{ sys.site_name }}</a>
</footer>
{% endblock %}