{% extends "_plain.html" %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<div class="text-center">
  <h2>Reset Password</h2>
</div>

<form class="form-signin" action="/user/recover" method="POST">
  <p>Enter your username or email, and we will send you a link to reset your password.</p>
  <input type="text" class="form-control" placeholder="User name or email" autofocus="" id="field-username" class="form-control" name="username" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit"><span class="glyphicon glyphicon-envelope"></span> Reset Password</button>
</form>

<div class="text-center">
  <p>
    <a href="/user/login" class="btn btn-text"><span class="glyphicon glyphicon-arrow-left"></span> back to login</a>
  </p>
</div>

<footer class="text-center">
  &copy; {{ sys.year }}, <a href="{{ sys.site_url }}">{{ sys.site_name }}</a>
</footer>
{% endblock %}